@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b0c;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #111;
}

.container {
  @apply max-w-5xl mx-auto px-6;
}
